bottle==0.13.4
cffi==2.1.1
clr_loader==0.3.1
colorama==0.4.6
pillow==12.3.0
proxy_tools==0.1.0
pycparser==3.0
pylnk3==0.4.3
pythonnet==3.1.0
pywebview==6.2.1
qrcode==8.2
typing_extensions==4.16.0
